@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: 'Oswald', sans-serif;
}

.font-handwriting {
  font-family: 'Caveat', cursive;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}